@import "../../../main/Config";
.content-gallery
{
    .img-responsive
    {
        object-fit: cover;
        width: 100%;
        max-width: initial;
        max-height: 100%;
    }
    .gallery-item
    {
        display: flex;
        justify-content: center;
        /* 
        height:100%;
        border-style: solid;
        @include var(border-color, border-color-default);
        @include var(border-width, border-width-default); */
        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.6);
        border-radius: 8px;
        overflow:hidden;
        cursor: pointer;
    }
    .gallery-item:not(.gallery-image-item)
    {
        align-items: center;
    }
    .additional-items-count
    {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bolder;
        @include var(background, highlight-color);
        color: white;
        pointer-events: none;
        overflow:hidden;
        border-radius: 8px;
    }
    .row, .col
    {
        height: 100%;
        padding: 0;
        margin: 0;
    }

}
.content-gallery
{
    .grid-row
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .grid-column
    {
        position: relative;
        overflow: hidden;
        .gallery-item 
        {
            position: absolute;
            top:5px;
            left:5px;
            right:5px;
            bottom:5px;
        }
    }
    .grid-column:after 
    {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    .gallery-item:after
    {
        content:'';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        @include var(background, highlight-color);
        border-radius: 5px;
        opacity: 0;
        transition: all 0.1s ease;
    } 
    .gallery-item:hover:after
    {
        opacity: 1;
    }
    .gallery-item:hover 
    {
        @include var(background, highlight-color);
    }
}
.content-gallery
{
    .grid-columns-1
    {
        .grid-column
        {
            flex-basis: 100%;
            .gallery-item
            {
                
            }
        }
    }
    
}
.content-gallery.grid-rows-1
{
    .grid-columns-1
    {
        .grid-column:after
        {
            padding-bottom: initial;
        }
        .grid-column
        {
            .gallery-item
            {
                position: initial;
                display: block;
                margin: 5px;
            }
            .gallery-item:after
            {
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
            }
        }
    }
}
.content-gallery
{
    .grid-columns-2
    {
        .grid-column
        {
            flex-basis: 50%;
        }
        .grid-column:first-child
        {
        }
        .grid-column:last-child
        {
        }
    }
}
.content-gallery.grid-rows-2
{
    .grid-row:first-child
    {
    }
}
.content-gallery
{
    .grid-columns-3
    {
        .grid-column
        {
            flex-basis: 33.333%;
        }
        .grid-column:first-child
        {
        }
        .grid-column:nth-child(2)
        {
        }
        .grid-column:last-child
        {
        }
    }
}
.content-gallery-lightbox
{
    max-width: initial;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .toolbar
    {
        color:white;
    }
    .carousel 
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .carousel-caption {
            background: rgba(0, 0, 0, 0.35);
            right: 0;
            left: 0;
            bottom: 0;
        }
        .carousel-control-next,
        .carousel-control-prev
        {
            @include var(color, primary-color);
        }
        .carousel-control-next > span::after, 
        .carousel-control-prev > span::after
        {
            content: "";
            display: block;
            width: 50px;
            background-color: #e1e1e1;
            height: 50px;
            z-index: -1;
            position: absolute;
            border-radius: 50%;
            margin-left: -15px;
            margin-top: -15px;
        }
        .carousel-inner
        {
            height: 100%;
            .carousel-item
            {
                height: 100%;
            }
        }
    }
    .modal-content
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        border:0;
        .modal-body
        {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            flex:initial;
            padding:0;
        }
    }
}
.fade-scale 
{
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
.fade-scale.show
{
    opacity: 1;
    transform: scale(1);
}
.slider-wrapper
{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .img-responsive
    {
        max-height: 100%;    
        margin: auto;
    }
    .gallery-item
    {
        position: absolute;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        height: 100%;
        width: 100%;
        .gallery-container 
        {
            margin:auto;
        }
    }
    .gallery-video-item 
    {
    }
    .gallery-item-link
    {
        .embedly 
        {
            margin: auto;
            max-width: 70%;
        }
    }
}
