.autocomplete-root
{
    width: 600;
    padding: 40;
    margin: auto;
    font-size: 15px;
}
.autocomplete-editor
{
    border-radius: 4;
    min-height: 30;
    padding: 10;
    background: #2b303b;
    color: #85939f;
}