.mention-editor 
{
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    border-radius: 2px;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;

    min-height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}
mention {
    color: #4a85bb;
    text-decoration: none;
  }
  
  .mentionSuggestions {
    border-top: 1px solid #eee;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transform-origin: 50% 0%;
    transform: scaleY(0);
    margin: -16px;
  }
  
  .mentionSuggestionsEntryContainer {
    display: table;
    width: 100%;
  }
  
  .mentionSuggestionsEntryContainerLeft,
  .mentionSuggestionsEntryContainerRight {
    display: table-cell;
    vertical-align: middle;
  }
  
  .mentionSuggestionsEntryContainerRight {
    width: 100%;
    padding-left: 8px;
    max-width:0;
  }
  
  .mentionSuggestionsEntry {
    padding: 7px 10px 3px 10px;
    transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  }
  
  .mentionSuggestionsEntry:active {
    background-color: #cce7ff;
  }
  
  .mentionSuggestionsEntryFocused {
    padding: 7px 10px 3px 10px;
    transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
    background-color: #e6f3ff;
  }
  
  .mentionSuggestionsEntryText,
  .mentionSuggestionsEntryTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .mentionSuggestionsEntryText {
  }
  
  .mentionSuggestionsEntryTitle {
    font-size: 80%;
    color: #a7a7a7;
  }
  
  .mentionSuggestionsEntryAvatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
.emoji-backdrop
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.emoji-picker-container {
  position: absolute;
  right: -12px;
  z-index: 20000;
}
.emojiSelectPopover
{
  position: relative !important;
}
.context-positioning-element
{
    z-index: 2000;
}
.modal-open
{
  .context-positioning-element
  {
      z-index: 20000;
  }
  .emoji-backdrop
  {
      z-index: 1999;
  }
}
.emojiButton
{
  border: 0;
  background: 0;
}
.DraftEditor-root
{
  word-break: break-all;
}
.DraftEditor-editorContainer
{
  overflow-y: auto;
  max-height: 200px;
}