@import "../../main/Config";
.status-list
{
    padding: 10px !important;
    > li 
    {
        margin: 0px;
        * {
            box-shadow: none;
        }

        .chat-message-composer
        {
            border-top-width: 0;
        }
        .chat-message-composer-container
        {
            background: white;
            border-width:thin;
            border-style:solid;
            border-top-width: 0;
            @include var(border-color, border-color-default);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-bottom: 10px;
            position: relative;
            &:before {
                content: "";
                left: 0;
                right: 0;
                top: 0;
                position: absolute;
                @include var(border-top-color, border-color-default);
                margin: 0 15px;
                border-top-style: solid;
                border-top-width: thin;
              }
        }
        .status,.status-placeholder
        {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            &.statuscomment {
                border-radius: 0;
                border-top-width: 0;
                .status-content
                {
                    margin-left: 60px;
                }
                .status-footer-stats
                {
                    margin-left: 45px;
                }
            }
            &.temp{

                border-top-width:thin;
            }
            &.last 
            {
                .status-footer-stats:after
                {
                    border-top-width: 0;
                }
            }
        }
        .status-placeholder
        {
            height: 137px;
            background: white;
            position: relative;
            &.statuscomment:before {
                content: "";
                left: 0;
                right: 0;
                top: 0;
                position: absolute;
                @include var(border-top-color, border-color-default);
                margin: 0 15px;
                border-top-style: solid;
                border-top-width: thin;
              }
        }
        .chat-message-composer-placeholder
        {
            height: 50px;
        }
        .comment-loader{
            background: white;
            width: 100%;

            border-width:thin;
            border-style:solid;
            border-top-width: 0;
            border-bottom-width: 0;
            @include var(border-color, border-color-default);
        }
    }

}