@import "../../../Config.scss";

.sidebar-content {
    @include var(background-color, main-content-background);
    z-index: 1048;
    height: calc(100% - #{$topMenuHeight} - 15px);
    min-width: 300px;
    // max-width: 500px;
    top: calc(#{$topMenuHeight} + 15px);
    left: calc(#{$sideBarWidth} - 2rem);
    padding-left: 2.1rem;
    border-top-right-radius: 8px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebar-content.animate-open {
    visibility: visible;
    -webkit-animation: slide-in 200ms linear;
    animation: slide-in 200ms linear;
    will-change: animation;
}

.sidebar-content.animate-close {
    visibility: hidden;
}

@keyframes slide-in {
    0%   { transform: translateX(-500px);}
    100% { transform: translateX(0); }
}

.sidebar-content .sidebar-content-header {
    height: 5rem;
    margin: 0 -8px;
    border-top-right-radius: 8px;
    @include var(background-color, primary-theme-color);
}

.sidebar-content .sidebar-content-header .sidebar-title {
    margin: 16px;
    font-size: 1.5rem;
    font-weight: 300;
    @include var(color, button-color);
}

.sidebar-content .sidebar-content-header .sidebar-title .sidebar-subtitle {
    font-size: 0.8rem;
    font-weight: 300;
    @include var(color, button-color);
}

.sidebar-content .sidebar-content-header .sidebar-breadcrumb {
    margin: 16px;
    font-size: 0.8rem;
    font-weight: 500;
    @include var(color, button-color);
}

.sidebar-content .sidebar-content-list {
    margin: 16px -8px 16px 8px;
    font-size:1.2rem;
    font-weight: 400;
    height: 100%;
}

.sidebar-content .sidebar-content-header .title-button{
    margin-left: 8px;
    color: white;
}

.sidebar-content .sidebar-content-header .title-button .title-button-text{
    font-size: 0.6rem;
}
