@import "../../../Config.scss";

.list-item{
    display: flex;
    margin: 4px 1px;
    padding: 6px;
    padding-left: 0;
    border-radius: 8px 0 0 8px;
    &.active{
        @include var(background-color, main-content-secondary-background);
        @include var(color, primary-theme-color);
    }
}

.search{
    margin-bottom: 8px;
    margin-right: 8px;
    border: solid 2px;
    border-radius: 8px;
    @include var(border-color, border-color-default)
}

.content{
    height: inherit;
}

.items{
    overflow: auto;
}
