@import "../../main/Config";
.chat-message
{
    word-wrap: break-word;
    border-radius: 10px;
    padding: 4px 10px;
    margin: 2px auto;
    max-width: calc(90% - 40px);
    position: relative;
    > .body
    {
        display: block;

    }

}
.chat-message.single-embed
{
    width: calc(90% - 40px);
}
.chat-message:last-child
{
    margin-bottom: 5px;
}
.chat-message.left {
    @include var(background-color, primary-color);
    color: white;
    text-align: left;
    margin-left: 40px;
    > .body a
    {
        color: white;
        text-decoration: underline;
        display: block;
    }
}

.chat-message.right
{
    @include var(background-color, button-background-color);
    @include var(color, button-color);
    text-align: right;
    margin-right: 15px;
    > .body a
    {
        color: #4FA7CF;
        display: block;
        text-decoration: underline;

    }
}
.chat-message.temp
{
    border:1px solid red;
}
/******************************************************************************
 * File icons
/*****************************************************************************/
.document .file-icon:before {
    content: "\f15b";
  }

  .document.ppt .file-icon:before,
  .document.pptx .file-icon:before,
  .document.odp .file-icon:before {
    content: "\f1c4";
    color: #FF8D52;
  }

  .document.pdf .file-icon:before {
    content: "\f1c1";
    color: #FF5656;
  }

  .document.doc .file-icon:before,
  .document.docx .file-icon:before,
  .document.txt .file-icon:before,
  .document.rtf .file-icon:before,
  .document.odt .file-icon:before {
    content: "\f15c";
    color: #547980;
  }

  .document.xlsx .file-icon:before,
  .document.xls .file-icon:before,
  .document.ods .file-icon:before {
    content: "\f1c3";
    color: #6abe67;
  }

  .image .file-icon:before {
    content: "\f1c5";
    color: #029555;
  }

  .video .file-icon:before {
    content: "\f1c8";
    color: #A63636;
  }

  .audio .file-icon:before {
    content: "\f1c7";
    color: #FFD00C
  }