.newsfeed-module
{
    .module-header.link {
        cursor: pointer;
    }
    .module-content{
        .feed-composer-container{
            flex:0;
            z-index: 301 !important;
            > .comment-form{
                position: relative;
                .DraftEditor-editorContainer
                {
                    transition:min-height 200ms ease-in-out;
                    min-height:24px;
                } 
            }
        }
    }
    .status-composer-backdrop{
        background: #000;
        bottom: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity .3s, bottom 0s .3s;
        z-index: 300;
    }
    &.status-composer-focus{
        .status-composer-backdrop{
            bottom: 0%;
            opacity: .6;
            transition: opacity .3s;
        }
        .feed-composer-container > .comment-form{
            .DraftEditor-editorContainer
            {
                min-height: 200px;
            }
        }
    }
}