.event-list-item{
    margin:10px 12px;
    margin-top: 0;
    &:hover{
        text-decoration: none;
    }

    .drop-shadow{

        border-radius: 15px;
        overflow: hidden;
    }
    .top, .bottom{
        position: relative;
        height:40px;
    }
    .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bottom, .top{
        padding: 0 8px;
    }
    .title{
        padding-left: 8px;
    }
    .event-date{
        flex-grow: 0;
        flex-shrink: 0;
    }
    .item{
        line-height: 1em;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        .item-top{
            font-size: 16px;
        }
        .item-bottom{
            font-size: 10px;
        }
    }
}