.event-detail.module-header {
    margin: 0 18px;
    height: unset;
    padding: unset;
    div {
        height: unset;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: unset;
    }
    .module-menu-trigger{
        flex-shrink: 0;
    }
}
.event-footer {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.event-footer .event-date-big {
    flex-shrink: 1;
    font-size: 1.5rem;
    line-height: 22px;
    text-align: center;
}
.event-footer .event-start-end {
    flex-grow: 1;
    text-align: right;
}
.event-details-content .details-description{
    -webkit-line-clamp: 5;
}
