@import "../../Config";
.timesheet-list-item{
    text-decoration: none;
    @include var(color, primary-text-color);
    @include var(background-color, main-content-secondary-background);
    font-size: 1rem;
    border-radius: 10px;
    height: 45px;
    &:hover{
        text-decoration: none;
        color:#000000;
    }
    &:not(:last-child){
        margin-bottom: 6px;
    }
    .datetime{
        // background: linear-gradient(50deg, #{map-get($root, secondary-theme-color)} 30%, #{map-get($root, primary-theme-color)} 70%);
        // background: linear-gradient(50deg, var(--secondary-theme-color) 30%, var(--primary-theme-color) 70%);
        @include var(background-color, primary-theme-color);
        @include var(color, default-color);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        flex-grow: unset;
        width:90px;
        padding-top: 4px;
        font-weight: 300;
        text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    }
    .semi-circle{
        width:10px;
        height:45px;
        @include var(fill, primary-theme-color);
    }
    .task-info{
        text-overflow: ellipsis;
        font-weight: 400;
    }
    .user{
        font-size: 1.15rem;
    }
}