@import "../../Config";
.timesheet-list-item{
    text-decoration: none;
    color:#000000;
    font-size: 14px;
    border-radius: 10px;
    &:hover{
        text-decoration: none;
        color:#000000;
    }
    &:not(:last-child){
        margin-bottom: 6px;
    }
    .datetime{
        // background: linear-gradient(50deg, #{map-get($root, secondary-theme-color)} 30%, #{map-get($root, primary-theme-color)} 70%);
        // background: linear-gradient(50deg, var(--secondary-theme-color) 30%, var(--primary-theme-color) 70%);
        font-weight: 300;
    }
    .task-info{
        text-overflow: ellipsis;
        font-weight: 400;
        width: 100%;
    }
    .user{
        font-size: 16px;
    }
}