#edit-status-dialog 
{
    .chat-message-composer
    {
        border:0;
        > form{
            box-shadow:none;
            border-radius: 0;
        }
    }
    .modal-body
    {
        padding-top:0;
    }
}