.status-header
{
    display: flex;
    .avatar 
    {
        margin-right: 10px;
        flex-shrink: 0;
    }
    .name
    {
        margin: 0;
    }
    .edited-at{
        font-size: smaller;
        color:gray;
    }
}