.cover-module{
    .favorite-button{
        position: absolute;    
        font-size: 1.6em;
        padding: 8px;
        margin: 0;
        line-height: 1em;
        top: 0;
        right: 0;
        color: white;
    }
}