.list-item .avatar{
    margin: auto;
}
.list-item .name{
    margin: 0 6px;
    font-weight: 400;
    font-size: 0.85rem;
}
.list-item .icon{
    margin: auto;
    width: 0.75rem;
    font-size: 0.7rem;
}
