.list-item .avatar{
    margin: auto;
    .typing-indicator:after,.typing-indicator:before
    {
        display: none;
    }
    .typing-indicator
    {
        padding: 1px;
        margin-top: 0;
    }
    .typing-indicator-container
    {
        height: 100%;
        width: 120%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -0.1rem;
    }
}

.list-item .name{
    margin: auto 6px;
    font-weight: 400;
    font-size: 0.85rem;
}

.list-item .icon{
    margin: auto;
    font-size: 0.7rem;
}
