@import "../../../../Config.scss";

.list-item{
    display: flex;
    margin: 4px 1px;
    padding: 8px;
    border-radius: 8px 0 0 8px;
    &.active{
        @include var(background-color, main-content-secondary-background);
        @include var(color, primary-theme-color);
    }
}

.list-item .community-avatar{
    margin: auto;
}
.list-item .community-name{
    margin: 0 6px;
    font-weight: 400;
    font-size: 0.85rem;
}
.list-item .community-icon{
    margin: auto;
    width: 0.75rem;
    font-size: 0.7rem;
}
.search{
    margin-bottom: 8px;
    margin-right: 8px;
    border: solid 2px;
    border-radius: 8px;
    @include var(border-color, border-color-default)
}
.community-content{
    height: inherit;
}
.community-items{
    overflow: auto;
}
