.tasks-module{
    .module-header-title-right{
        font-size: 0.8em;
        color:#FA6363;
    }
    .module-header-title-left{
        min-width: 100px;
    }
    .tasks-list{
        padding: 8px;
        > .generic-list-item{
            margin-bottom: 8px;
        }
    }
}