@import "./../../Config";
.task-list-item-container{
    &:hover{
        text-decoration: none;
    }
    .task-list-item{
        border-radius: 6px;
        .left{
            .avatar{
                .image-container{
                    box-shadow: none;
                    border-style:dashed !important;
                    border-width: 2px !important;
                }
            }
        }
        .right{
            align-items: center;
            display: flex;
            .avatar-stacked{
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        .header{
            white-space:initial;
        }
        .footer{
            > *:first-child{
                margin-left: 0 !important;
            }
        }
    }
}