.tasks-module {
    .module-header-title-right {
        font-size: 0.8em;
        color: #fa6363;
    }
    .module-header-title-left {
        min-width: 100px;
    }
    .tasks-menu {
        padding: 8px;
    }
    .tasks-list {
        padding: 8px;
        > .generic-list-item {
            margin-bottom: 8px;
        }
    }
    .collapse-trigger {
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
    }
}
