.task-detail.module-header {
    height: unset;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: unset;
    div {
        height: unset;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: unset;
    }
    .module-menu-trigger{
        flex-shrink: 0;
    }
}
.module-footer .details-members{
    margin: 0 10px;
    text-align: right;
}
.module-footer .details-members-left{
    margin: 0 10px;
    text-align: left;
    .avatar-stacked{
        margin: 8px;
        margin-bottom: 16px;
    }
}