.tasks-menu .form-group {
    float: left;
}

.tasks-menu .form-group .form-group-title {
    font-size: 0.9rem;
    flex-shrink: 1;
    margin: auto 8px;
}


.collapse-menu {
    margin: auto 16px;
}

.collapse-menu .trigger-container {
    display: inline-block;
}


.collapse-trigger {
    display: inline-flex;
}

.collapse-triger .collapse-text {
    font-size: 0.9rem;
}