@import "./../../Config";
.task-list-item-container{
    &:hover{
        text-decoration: none;
    }
    .task-list-item{
        cursor: pointer;
        border-radius: 6px;
        .left{
            display: flex;
            align-items: center;
            .avatar{
                .image-container{
                    box-shadow: none;
                    border-style:dashed !important;
                    border-width: 2px !important;
                }
            }
            .mark{
                margin-left: 0.25rem;
            }
        }
        .center{
            font-size: 0.8rem;
            font-weight: normal;
        }
        .right{
            align-items: center;
            display: flex;
            .avatar-stacked{
                margin: 0;
            }
            .v-bar{
                @include var(background-color, primary-text-color);
            }
        }
        .header{
            white-space:initial;
        }
        .footer{
            > *:first-child{
                margin-left: 0 !important;
            }
        }
    }
}