.module-footer .details-members{
    margin: 0 10px;
    text-align: right;
}
.module-footer .details-members-left{
    margin: 0 10px;
    text-align: left;
    .avatar-stacked{
        margin: 8px;
        margin-bottom: 16px;
    }
}