@import "../../Config.scss";

.task-create-container {
    margin: 8px;
}

.task-create-container .task-hidden-fields .task-flex-fields {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    > div {
        flex: 1;
        margin: 0 4px;
        min-width: 100px;
    }
    .spacer {
        flex-grow: 1;
        width: 100px;
    }
}

.task-create-container .task-hidden-fields .button-container {
    display: flex;

    .btn {
        margin: 6px;
    }
}

.task-create-container .task-hidden-fields .bottom-separator {
    margin: 4px auto;
    height: 1px;
    @include var(background-color, highlight-background-color);
}