.module-content .details-content{
    margin: 0 10px;
}
.module-content .details-field-name{
    font-size: 15px;
    font-weight: 900;
}
.module-content .details-field-value{
    font-size: 15px;
    font-weight: 400;
}
.module-content .details-description{
    margin-top: 15px;
}
.module-footer .details-members{
    margin: 0 10px;
    text-align: right;
}