#notifications{
    .notification-group{
        .header{
            padding: 0.5rem 1rem;
            cursor: pointer;
        }
        .content{
            padding-left: 1rem;
        }
    }
}
.notifications-modal{
    .modal-body{
        padding: 0;
    }
}
