$headerHeight:40px;
.module
{
    position: relative;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    .module-header
    {
        height: $headerHeight;
        display: flex;
        align-items: center;
        padding: 0.5rem 0.7rem;
        margin-top: 0.3rem;
        flex-shrink: 0;
        font-size: 25px;
        position: relative;
        .circular-spinner{
            margin: 0 5px;
        }
        .module-menu-trigger
        {
            text-align: center;
            visibility: hidden;
            cursor: pointer;
            .icon-active, .icon-default{
                transition: opacity .3s, transform .3s;
            }
            .icon-active{
                opacity: 0;
            }
        }
    }
    &.menu-visible
    {
        .module-header
        {
            .module-menu-trigger
            {
                visibility: visible;
                .icon-active {
                    display: inline-block;
                    transform: rotate(180deg) scale(1);
                    opacity: 1;
                }
                .icon-default {
                    transform: rotate(180deg) scale(.5);
                    opacity: 0;
                }
            }
        }
    }
    &:hover
    {
        .module-menu-trigger
        {
            visibility: visible;
        }
    }
    .module-content
    {
        min-height: 0px;
        display: flex;
        flex-direction: column;
        flex:1;
        overflow: hidden;
        > .content{
            padding: 0 0.7rem 0.5rem 0.7rem;
        }
    }
    .module-footer
    {
        flex-shrink: 0;
        padding: 3px 12px;
        font-size: 12px;
    }
    .module-menu
    {
        position: absolute;
        top: $headerHeight;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid lightgray;
        transform: scale(1, 0);
        transform-origin: top center;
        transition-property: transform, height !important;
        z-index: 312;
        padding:8px;
        overflow-y: auto;
         &.module-menu-entered
        {
            height: auto;
            transform: scale(1, 1);
            transform-origin: top center;
        }
    }
}
body.touch .module
{
    .module-header
    {
        .module-menu-trigger
        {
            display: block;
        }
    }
}
body.rb-200
{
    .module-menu
    {
        position:initial;
        height: 0;
        &.module-menu-entered
        {
            height: 200px;
        }
    }
}