@import "../../../main/Config";
.btn-like {
    cursor: pointer;
    padding-right:0px;
  }

  .btn-like:hover,
  .btn-like.active {
    @include var(color, primary-color);
    cursor: pointer;
  }

  .reaction-wrapper{
    margin-right: 18px;
    margin-left: 3px;
    span
    {
      padding: 0;
    }
  }

  .reactions-count.active {
    @include var(color, primary-color);
  }
  .reactions-count.active:hover,
  .reactions-count.active:focus {
    text-decoration: underline;
    cursor: pointer;
  }
.emoji-reaction
{
  cursor:pointer;
  transition: transform .2s;
}
.emoji-reaction-container.large:hover
{
  transform: scale(1.3);
  z-index: 55;
}

.emoji-reaction-container
{
  .emoji-reaction-bg
   {
      &.like
      {
          @include var(color, primary-color);
      }
      &.heart
      {
        @include var(color, danger-color);
      }
      &.joy,&.sad
      {
        @include var(color, warning-color);
      }
   }
}

.fa-stack-1-5x
{
  font-size: 1.5em;
}
.fa-stack-1-5
{
    display: inline-flex;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    vertical-align: middle;
    width: 1.5em;
}