.status-content 
{
    margin-top:8px;
    margin-bottom:8px;
    .item-description
    {
        word-break: break-word;
    }
    .text 
    {
        a {
            word-wrap: break-word;
        }
    }
    > * 
    {
        margin-bottom: 8px;
    }
    > *:last-child 
    {
        margin-bottom: 0px;
    }
}