@import "../../main/Config";

#left-navigation
{
    border:0 !important;
    @include var(border-right-width, nav-border-width);
    @include var(border-right-color, nav-border-color);
    @include var(color, primary-text-color);
    border-style: solid;
    .left
    {
        display: flex;
        flex-direction: column;
        @include var(background, nav-left-left-background-color);
        @include var(width, left-navigation-min-width);
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 24px;
        > li {
            @include var(width, left-navigation-min-width);
            @include var(height, left-navigation-min-width);
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            @include var(color, nav-left-menu-item-color);
            &.selected, &:hover
            {
                @include var(color, nav-left-selected-menu-item-color);
            }
            cursor: pointer;
        }
        
    }
    .right
    {
        @include var(background, nav-left-right-background-color);
        width:calc(#{map-get($root, left-navigation-max-width)} - #{map-get($root, left-navigation-min-width)});
        overflow: hidden;
        position: absolute;
        top:0;
        @include var(left, left-navigation-min-width);
        right: 0;
        bottom:0;
        > .menu-component
        {
            height: 100%;
            .menu-header
            {
                @include var(height, top-navigation-height);
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
            .menu-content{

                height:calc(100% - #{map-get($root, top-navigation-height)});
                > * 
                {
                    height: 100%;
                }
            }
        }
    }
    .community-icon 
    {
        -webkit-mask: url("/src/resources/community-white.svg") no-repeat 100% 100%;
        mask: url("/src/resources/community-white.svg") no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        @include var(background-color, nav-left-menu-item-color);
        width: 24px;
        height: 24px;
    }
    .selected > .community-icon, li:hover .community-icon
    {
        @include var(background-color, nav-left-selected-menu-item-color);
    }
}