@import "../../main/Config";
#left-navigation
{
    border:0;
    @include var(background, nav-background-color);
    @include var(border-right-width, nav-border-width);
    @include var(border-right-color, nav-border-color);
    @include var(color, primary-text-color);
    border-style: solid;
    ul
    {
        width:100%;
        li
        {
            padding: 5px 5px 0 5px;
        }
    }
}