@import "../../main/Config";
#top-navigation
{
    border:0;
    @include var(background, nav-background-color);
    @include var(border-bottom-width, nav-border-width);
    @include var(border-bottom-color, nav-border-color);
    @include var(color, primary-text-color);
    border-style: solid;
    padding: 8px;
    .btn-secondary {
        @include var(background, button-background-color);
        @include var(color, button-color);
        @include var(border-color, button-border-color);
    }
    .btn-secondary:hover {
        @include var(background, button-hover-background-color); }

}