$cell-height:40px;
$cell-background-color:#302B40;
@import "../../../main/Config";

.community-tree-item
{
    @include var(color, nav-left-right-background-color);
    a{
        display: block;
    }
    .chevron 
    {
        padding:0 8px;
        line-height: $cell-height;
    }
    .content{
        margin:0 5px;
        min-height:$cell-height;
        padding-left:8px;
        cursor: pointer;
        align-items: center;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: $cell-height;
        color:$cell-background-color;
    }
    > .content
    {
        margin:5px;
        background:$cell-background-color;
        border-radius: 4px;
        @include var(color, nav-left-right-background-color);
    }
    .community-name, .name
    {
        display: block;
        flex-grow: 1;
    }
    .avatar
    {
        flex-shrink: 0;
        margin-right: 10px;
    }
    .community-tree-item-list
    {
        margin-left:40px;
    }
}
body.left-menu-open 
{
    .community-name
    {
        display: block;
    }
}