.community-list-item{
    margin:10px 12px;
    margin-top: 0;
    &:hover{
        text-decoration: none;
    }

    .drop-shadow{

        border-radius: 8px;
        overflow: hidden;
    }
    .top, .bottom{
        height:40px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bottom{
        padding: 0 8px;
    }
    .title{
        padding-left: 8px;
        flex-grow: 1;
    }
    .set-main{
        flex-shrink: 0;
        margin-right: 8px;
        border: none;
    }
}