.module-content .details-content{
    margin: 0 18px;
}
.module-content .details-field-name{
    font-size: 15px;
    font-weight: 300;
}
.module-content .details-field-value{
    font-size: 18px;
    font-weight: 300;
    a{
        font-weight: unset;
    }
}
.module-content .details-description{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
}