.details-content {
    margin: 0 18px;
    height: 100%;
    .details-field-name{
        font-size: 15px;
        font-weight: 300;
    }
    .details-field-value{
        font-size: 18px;
        font-weight: 300;
        a{
            font-weight: unset;
        }
    }
    .details-description{
        font-size: 15px;
        font-weight: 300;
    }
}