@import "../Config";
.newsfeed-component
{
    height: 100%;
    .status-list
    {
        overflow-y: auto;
        height: 100%;
        padding:0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        -webkit-overflow-scrolling: touch;
    }
    .comment-loader{
        display: flex;
        width: 100%;
        align-items: center;
        .line{
            flex-grow: 1;
            height: 1px;
            @include var(background-color, secondary-text-color);
            margin: 0 10px;
        }
        .button{
            flex-grow:0;
            font-size: 13px;
        }
    }
    .odd-color
    {
        background-color: #f3f3f3;
    }
    .even-color
    {
        background-color: white;
    }
}