$width: 500px;

#page-header
{
    .circle{
        background: rgb(66,139,202);
        background: linear-gradient(50deg, rgba(66,139,202,1) 40%, rgba(0,212,255,1) 90%);
        margin-left: -$width/3.5;
        margin-top: -$width/2.5;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        z-index: 0;
        opacity: 0.8;
    }
    position: absolute;
    top:0;
    left:0;
    right: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-color: #428bca;
    background-position: center;
    z-index: -1;
}

/*
height: 0;
padding-top: 56.25%;


calc(591.44 / 1127.34 * 100%);*/