@import "../Config";
$circleWidth: 605px;
#page-header
{
    .circle{
        background: linear-gradient(50deg, #{map-get($root, primary-theme-color)} 30%, #{map-get($root, secondary-theme-color)} 70%);
        background: linear-gradient(50deg, var(--primary-theme-color) 30%, var(--secondary-theme-color) 70%);
        margin-left: -$circleWidth/10;
        margin-top: -$circleWidth/4.5;
        width: $circleWidth;
        height: $circleWidth;
        border-radius: 50%;
        position: absolute;
        top: 0;
    }
    position: relative;
    &.no-image {
        background: linear-gradient(to bottom, #{map-get($root, primary-theme-color)} 90%, rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, var(--primary-theme-color) 90%, rgba(0,0,0,0) 100%);
    }
    &.fallback {
        background: linear-gradient(to bottom, #{map-get($root, primary-theme-color)} 80%, rgba(0,0,0,0) 90%);
        background: linear-gradient(to bottom, var(--primary-theme-color) 80%, rgba(0,0,0,0) 90%);
    }
}
#page-header-cover-image {
    margin-left: $circleWidth/1.35;
}
