@import "../Config";
#page-top-navigation
{
    z-index: 2;
    position: relative;
    .profile-name{
        padding-left: 5px;
        font-size: 20px;
        @include var(color, title-color);
    }
    .community-name{
        font-size: 23px;
        font-weight: 100;
        @include var(color, title-color);
    }
    .profile-box{
        padding-bottom:40px;  // Placeholder until we have the dashboard menu
    }
}