$fontSize:20px;
$padding:5px;
$spacing:2px;
#page-top-menu{
    > button{
        font-size: $fontSize;
        padding: $padding;
        line-height: $fontSize;
        color:white;
        &:not(:first-child){
            margin-left:$spacing;
        }
    }
}
.top-menu-popover{

    font-size: 1rem;
    .popover-body{
        padding-left: 0;
        padding-right: 0;
    }
}