.status-component{    
    clear: both;
    &.comment {
        padding-left: 20px;
    }
    .header-left 
    {
        padding: 10px;
    }
    .header-center 
    {
        padding: 10px;
        padding-left: 0;
        flex-direction: column;
        .header-center-content 
        {
            align-items: baseline;
            align-content:baseline;
            display: flex;
        }
        .title, .date, .context {
            line-height: 20px;
        }
        .title{
            font-size: 20px;
            padding-right: 8px;
        }
        .date{
            font-size: 14px;
        }
        .context {
            max-width: 130px;
            font-size: 12px;
        }
        .text-content
        {
            white-space: normal;
            word-break: break-word;
        }
    }


    .reaction-wrapper{
        margin: 0;
        > span
        {
            padding: 0;
        }
        button {
            border:0;
            background: transparent;
            outline: 0;
            box-shadow: none;
        }
        button:focus{
            outline: 0;
            box-shadow: none;
        }
        .reactions-count
        {
            padding-left: 4px;
        }
    }
    .comments-count-wrapper
    {
        margin: 0;
        padding: 6px 12px;
        padding-left: 0;
        .comment-count
        {
            padding-left: 4px;
        }
    }
    .info-container{
        margin-right: -12px;
    }
}