.avatar
{
    position: relative;
    .image {

        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .image-container{
        position: relative;
        border-radius: 50%;
        height: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
        overflow: hidden;
        background-color: #E1E2DD;
    }
    .avatar-state
    {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border:2px solid white;
        position: absolute;
        top: 4px;
    }
    .avatar-state.green
    {
        background-color: green;
    }
    .avatar-state.orange
    {
        background-color: orange;
    }
    .avatar-state.red
    {
        background-color: red;
    }
    .avatar-state.gray
    {
        background-color: gray;
    }
    $size2left :calc(50% + 1px ) ;
    .image_1_0{
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    .image_2_0{
        top:0;
        left:0;
        right:$size2left;
        bottom:0
    }
    .image_2_1{
        top:0;
        left:$size2left;
        right:0;
        bottom:0;
    }
    .image_3_0{
        top:0;
        left:0;
        right:$size2left;
        bottom:$size2left
    }
    .image_3_1{
        top:0;
        left:$size2left;
        right:0;
        bottom:$size2left;
    }
    .image_3_2{
        top:$size2left;
        left:0;
        right:0;
        bottom:0;
    }
    .image_4_0{
        top:0;
        left:0;
        right:$size2left;
        bottom:$size2left
    }
    .image_4_1{
        top:0;
        left:$size2left;
        right:0;
        bottom:$size2left;
    }
    .image_4_2{
        top:$size2left;
        left:0;
        right:$size2left;
        bottom:0;
    }
    .image_4_3{
        top:$size2left;
        left:$size2left;
        right:0;
        bottom:0;
    }
    .multi{
        position:absolute;
        overflow:hidden;
    }
}