.chat-user
{
    margin-bottom: 8px;
    .chat-user-inner
    {
        display: flex;
        .avatar
        {
            flex-shrink: 0;
        }
    }
}
.chat-user.left {
    .chat-user-inner
    {
        text-align: left;
        flex-direction: row;
        .avatar 
        {
            margin:0 5px 0 15px;
        }
    }
    
}
  
.chat-user.right 
{
    .chat-user-inner
    {
        text-align: right;
        flex-direction: row-reverse;
        .avatar 
        {
            margin:0 15px 0 5px;
        }
    }
    
}