@import "../../main/Config";
.chat-message-composer
{
    width: 100%;
    padding: 5px;
    z-index: 999;
    border-top-style: solid;
    @include var(border-top-color, border-color-default);
    @include var(border-top-width, border-width-default);
    form
    {
        display: flex;
    }
    > input 
    {
        width: 87%;
        position: relative;
        float: left;
    }
    .btn-submit
    {
        border-radius: 1.5rem;
        padding: 0.375rem 20px;
    }
    .btn-submit:focus,
    .btn-submit:active,
    .btn-submit:visited,
    .btn-submit:hover {
        outline: 0 !important;
    }

    .btn-submit::-moz-focus-inner {
        border: 0
    }
    .btn-submit > .fas {
        font-size: 1em;
        font-weight: bold;
        color: white;
        padding: 0 1px;
    }

    .input-wrap {
        position: relative;
        flex-grow: 1;
    }

    .button-wrap {
        position: relative;
        margin-bottom: 1px;
    }
    .input-group
    {
        flex-wrap: initial;
    }
}