@import "../../main/Config";
.message-list {
    @include var(background-color, main-content-background);
    @include var(color, primary-text-color);

    margin: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }