$leftColor: #4FA7CF !default;
$rightColor: #F1F1F4 !default;
.chat-message
{
    word-wrap: break-word;
    border-radius: 10px;
    padding: 4px 10px;
    margin: 2px auto;
    max-width: calc(90% - 40px);
    position: relative;
    > .body 
    {
        display: block;

    }
}
.chat-message:last-child
{
    margin-bottom: 5px;
}
.chat-message.left {
    background-color: $leftColor;
    color: white;
    text-align: left;
    margin-left: 40px;
    > .body a
    {
        color: white;
        text-decoration: underline;
        
    }
}
  
.chat-message.right 
{
    background-color: $rightColor;
    text-align: right;
    margin-right: 15px;
    > .body a
    {
        color: #4FA7CF;
        
    }
}
.chat-message.temp 
{
    border:1px solid red;
}