@import "../../main/Config";
.collapsible-panel
{
    display: flex;
    flex-direction: column;
    .toggle-button
    {
        box-shadow: none !important;
        outline: 0 !important;
        border:0 !important;
        flex-shrink: 0;
    }
    .content-panel
    {
        flex-grow: 1;
        width: inherit;
        overflow: auto;
        overflow-x: hidden;
        background: white;
    }
    
}