@import "../../main/Config";
#contact-list {
    @include var(background, nav-background-color);
    > ul {
        overflow-y: auto;
        height:100%;
    }
    .avatar-profile
    {
        .avatar {
            margin: 5px;
        }
        .right-text-rows
        {
            justify-content: center;
            align-items: center;
        }
    }
}