.embedly {
  color: #222;
  text-decoration: none;
  position: relative;
  border: solid 1px #e1e8ed;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  
  .embedly__image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    .image {
      max-height: 100%;
      width: auto;
      max-width: 100%;
    }
  }
  .embedly__text {
    margin-left: 85px;
    min-height: 80px;
    padding: 5px;
    box-sizing: border-box;
  }
  .embedly__title {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
  }
  .embedly__desc {
    margin: 5px 0 0;
    font-size: 11px;
  }
  .embedly__provider {
    margin: 5px 0 0;
    font-size: 11px;
  }
}
.embedly.responsive 
{
    position: relative;
    padding-bottom: 67.5%;
    margin: 10px 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
}
