#dashboard
{
    > .dashboard-components{
        margin-top: 15px;
        margin-bottom: 15px;
        .module-grid-item{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-bottom: 15px;
            .module-grid-item-content{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .container{
        max-width: initial;
    }
}
.dashboard-container{
    #page-header + *{
        position: relative;
        /*margin-top: -30px !important;*/
    }
}
body.rb-200
{
    #dashboard{
        > .dashboard-components
        {
            .module-grid
            {
                grid-auto-rows:initial;
                grid-gap: 8px;
            }
        }
        .module-grid-item{
            min-height: 0;
        }

    }
}
