@import "./Config";
#dashboard
{
    > .dashboard-components{
        margin-top: 15px;
        margin-bottom: 15px;
        .module-grid-item{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-bottom: 15px;
            .module-grid-item-content{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .container{
        max-width: initial;
    }
}
body.has-side-menu {
    .dashboard-container
    {
        margin-left: $sideMenuInactiveWidth;
    }
    &.side-menu-locked{
        .dashboard-container
        {
            margin-left: $sideMenuActiveWidth;
        }
    }
    @media (max-width: 640px){
        .dashboard-container{
            margin-left:0;
        }
    }
}
.dashboard-container{
    #page-header + *{
        position: relative;
        /*margin-top: -30px !important;*/
    }
}