@import "./Config";
.scrollbar, .vertical-scroll, .DraftEditor-editorContainer
{
    &::-webkit-scrollbar {
         width: 5px;
         height: 5px;
    }
    &::-webkit-scrollbar-track { background: transparent; }
    &::-webkit-scrollbar-thumb {
        @include var(background, secondary-text-color);
        border-radius:50vw;
    }
    &::-webkit-scrollbar-thumb:hover {
        @include var(background, primary-text-color);
    }
}
//standard overrides
html{
    height: 100%;
}
ul,li{ list-style-type: none; padding: 0;}
//bootstrap extensions/overrides
.mw0{
    min-width: 0 !important;
}
.title-text{
    font-size: 1.3em;
    font-weight: bold;
}
.small-text{
    font-size: 0.7em;
}
.medium-small-text{
    font-size: 0.8em;
}
.medium-text{
    font-size: 0.9em;
}
.img-responsive{
    object-fit: contain;
    width: 100%;
    max-width: initial;
    max-height: 100%;
}
.push-right {
    margin-left: auto;
}
.modal-dialog.has-module{
    .modal-body{
        padding: 0;
        .module{
            border-radius: 0;
            .module-content{
                max-height: 500px;
            }
        }
    }
}
.modal-title {
    display: block;
    width: 100%;
}
.modal-header, .modal-footer{
    @include var(border-color, border-color-default);
}.modal-title {
    margin: 0 auto;
}
.modal-content {
    @include var(background, main-content-background);
    @include var(color, primary-text-color);
}
.close {
    opacity: 1 !important;
    @include var(color, secondary-text-color);
}
.close:not(:disabled):hover {
    @include var(color, primary-text-color);
}
.input-group-transparent{
    align-items: center;
}
.form-control-transparent{
    background-color: transparent;
    border: 0;
    background-color: transparent;
    outline: none;
    //box-shadow: none;
    color:inherit;
    &:focus{
        background-color: transparent;
        outline: none;
        //box-shadow: none;
        color:inherit;
    }
    &.focus-border:focus{
        @include var(border-color, border-color-default);
        border-bottom-width: 1px;
        border-style: solid;
    }
    &:hover{
        border-color: #cccccc;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(127, 127, 128, 0.25);
    }
}
.swiper-container
{
    width: 100%;
}
//borders
.border-1{
    @include var(border-color, border-color-default);
    border-width: 1px;
    border-style: solid;
}
.main-border-color-background{
    @include var(background-color, border-color-default);
}
//theme
body
{
    @include var(background-color, body-background);
    @include var(font-family, font-family-default);
    @include var(color, primary-text-color);
}
body[class^="select-active-"], body[class*=" select-active-"]{
    position: static !important;
}
button{@include var(color, primary-text-color);}
.btn-rounded{
    border-radius: 10em;}
.btn-xs{
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.link,.nav-link{
    cursor: pointer;
    &:hover{
        @include var(color, link-color);
    }
}
.link-text, a, .text.link, .btn-link, .nav-link
{
    @include var(color, link-color);
    font-weight: 500;
    cursor: pointer;
    display: inline;
    &.active
    {
        @include var(color, primary-theme-color);
    }
}
.no-link{
    color:inherit;
    font-weight: inherit;
    white-space: normal;
}
.link-text:hover, a:hover, .text.link:hover, .btn-link:hover
{
    @include var(color, link-color);
}
.primary-text
{
    @include var(color, primary-text-color);
}
.secondary-text
{
    @include var(color, secondary-text-color);
}
.shadow
{
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}
.main-content-background{
    @include var(background-color, main-content-background);
}
.main-content-secondary-background{
    @include var(background-color, main-content-secondary-background);
}
.highlight-text {

    @include var(background, highlight-background-color);
    @include var(color, highlight-foreground-color);
}
.primary-theme-bg {
    @include var(background, primary-theme-color);
}
.primary-theme-color{
    @include var(color, primary-theme-color);
}
.theme-bg-gradient, .badge-theme{
    background-image: linear-gradient(to left, #{map-get($root, secondary-theme-color)}, #{map-get($root, primary-theme-color)});
    background-image: linear-gradient(to left, var(--secondary-theme-color), var(--primary-theme-color));
}
.badge-notification-container{
    position: relative;
    .badge-notification{
        position: absolute;
        top:0;
        right: -1px;
    }
}
.badge-notification{
    font-size: 0.7rem;
}
.theme-box{
    color:white;
    border-radius: 8px;
    padding: 0 4px
}
.drop-shadow-large
{
    box-shadow:map-get($root, drop-shadow-large);
    box-shadow:var(--drop-shadow-large)
}
.drop-shadow
{
    box-shadow:map-get($root, drop-shadow);
    box-shadow:var(--drop-shadow)
}
.hover-card{position: relative;}
.hover-card:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    @include var(background, highlight-foreground-color);
    opacity: 0;
    transition: all 0.1s ease;
    pointer-events: none;
}
.hover-card:hover:after {
    opacity: 0.1;
}
.hover-card:hover{
    //@include var(background, highlight-background-color);
    overflow: hidden;
}
.transition
{
    position : relative;
    -webkit-transition : 300ms ease-in-out all;
     -o-transition : 300ms ease-in-out all;
    -moz-transition : 300ms ease-in-out all;
    transition : 300ms ease-in-out all;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    backface-visibility : hidden;
}
.modal-container{
    position:fixed;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1060;
    display: none;
    &.modal-entering, &.modal-entered, &.modal-exiting  {
        display: block;
    }
    &.modal-entered {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
    }
}
.dropdown-item{
    cursor: pointer;
}
body.has-side-menu {
    .page
    {
        margin-left: $sideMenuInactiveWidth;    
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &.side-menu-locked{
        .page
        {
            margin-left: $sideMenuActiveWidth;
        }
    }
}
/******************************************************************************
 * File icons
/*****************************************************************************/
.document .file-icon:before {
    content: "\f15b";
}

.document.ppt .file-icon:before,
.document.pptx .file-icon:before,
.document.odp .file-icon:before {
    content: "\f1c4";
    color: #FF8D52;
}

.document.pdf .file-icon:before {
content: "\f1c1";
    color: #FF5656;
}

.document.doc .file-icon:before,
.document.docx .file-icon:before,
.document.txt .file-icon:before,
.document.rtf .file-icon:before,
.document.odt .file-icon:before {
    content: "\f15c";
    color: #547980;
}

.document.xlsx .file-icon:before,
.document.xls .file-icon:before,
.document.ods .file-icon:before {
    content: "\f1c3";
    color: #6abe67;
}

.image .file-icon:before {
    content: "\f1c5";
    color: #029555;
}

.video .file-icon:before {
    content: "\f1c8";
    color: #A63636;
}

.audio .file-icon:before {
    content: "\f1c7";
    color: #FFD00C
}

body.dash-fill
{
    &, #app-root, #main, #main-content, #content-block, .window-responsive-component,.dashboard-container, .dashboard-container > .content, #dashboard, .dashboard-components{
        flex:1;
        flex-direction: column;
        display: flex;
        height: 100%;
    }
    .fill{

        flex:1;
        display: flex;
        height: 100%;
        width:100%;
    }
}