
@import "./Config";
.module.newsfeed-module{
    box-shadow: none !important;
    border-radius: 8px;
    background: none;
    .module-header,.module-menu{
        @include var(background-color, main-content-background);
        border-radius: 8px;
        margin-bottom: 16px;
    }
    .chat-message-composer-container{
        border-radius: 8px;
        box-shadow: none !important;
    }
    .newsfeed-component{
        .status-component, .comment-form{
            @include var(background-color, main-content-background);
        }
        .status-component.lvl0{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .comment-form.lvl0, .status-component.last{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-bottom: 16px;
        }
    }

}/**/