@charset "UTF-8";
//let hasRootSupport = window.CSS && window.CSS.supports && window.CSS.supports('--a', 0)
//root = document.querySelector(':root')
//root.className = currentTheme


//DEFAULT
$root: (
    font-family-default: 'Roboto:700,400,500,300, sans-serif',
    font-size-default: 14px,

    /* Colors */
    feed-form-options-bg: #f5f5f5,
    body-background: #eeeeee,
    border-color-default: #cccccc,
    title-color:#4d4d4d,
    main-content-background:#FFFFFF,
    main-content-border:#cccccc,

    /* Buttons */
    button-background-color: #CFD5DE,
    button-color: white,
    button-border-color: #cccccc,
    button-hover-background-color: #9F959E,

    default-color: #fff,
    primary-color: #428bca,
    info-color: #5bc0de,
    danger-color: #d9534f,
    success-color: #5cb85c,
    warning-color: #f0ad4e,
    link-color:#292929,
    primary-text-color:#5d5d5d,
    secondary-text-color:#AFAFAF,

    navbar-background: #428bca,

    /* Status Type colors */
    status-videos-color: #B71C1C,
    status-text-color: #337AB7,
    status-attachments-color: #FF5722,
    status-audios-color: #FFCA28,
    status-photos-color: #029555,
    status-link-color: #2196F3,
    status-multimedia-color: #7B1FA2,
    status-events-color: #FF9933,

    /* Backgrounds transparent */
    bg-trans-blue-light: rgba(0, 54, 144, 0.75),
    bg-trans-blue-dark: rgba(1, 0, 54, 0.9),
    bg-trans-black: rgba(0, 0, 0, 0.5),
    bg-trans-black-light: rgba(0, 0, 0, 0.25),
    highlight-color:rgba(0,0,0,0.2),


    /* SIZES*/
    border-width-default: 1px,

    /* NAV */
    nav-foreground-color:black,
    nav-background-color:white,
    nav-border-color:#DFE0DF,
    nav-border-width:1px,
    nav-left-left-background-color:#231E2E,
    nav-left-right-background-color:rgb(103, 103, 104),
    nav-left-menu-item-color:rgb(199, 197, 197),
    nav-left-selected-menu-item-color:white,
    top-navigation-height:60px,
    left-navigation-min-width:60px,
    left-navigation-max-width:270px,

    right-navigation-min-width:60px,
    right-navigation-max-width:240px,

    /* shadow */
    drop-shadow-large: 0px 0px 20px -5px rgba(0, 0, 0, 0.6),
    drop-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6),
);
@mixin var($property, $varName) {
    #{$property}: map-get($root, $varName);
    #{$property}: var(--#{$varName}, map-get($root, $varName));
}
:root{
    /* Fonts */
    --font-family-default: 'Roboto:700,400,500,300', sans-serif;
    --font-size-default: 14px;

    /* Colors */
    --feed-form-options-bg: #f5f5f5;
    --body-background: #eeeeee;
    --border-color-default: rgba(0,0,0,0.1);
    --title-color:#4d4d4d;
    --main-content-background:#FFFFFF;
    --main-content-border: #cccccc;
    --button-color: white;
    --button-background-color: #6c757d;
    --button-border-color: #cccccc;
    --button-hover-background-color: #4c555d;
    --button-disabled-background-color: body-background;
    --button-disabled-text-color: title-color;

    --default-color: #fff;
    --primary-color: #428bca;
    --info-color: #5bc0de;
    --danger-color: #d9534f;
    --success-color: #5cb85c;
    --warning-color: #f0ad4e;
    --link-color:#292929;
    --primary-text-color:#5d5d5d;
    --secondary-text-color:#AFAFAF;

    --navbar-background: #428bca;

    /* Status Type colors */
    --status-videos-color: #B71C1C;
    --status-text-color: #337AB7;
    --status-attachments-color: #FF5722;
    --status-audios-color: #FFCA28;
    --status-photos-color: #029555;
    --status-link-color: #2196F3;
    --status-multimedia-color: #7B1FA2;
    --status-events-color: #FF9933;

    /* Backgrounds transparent */
    --bg-trans-blue-light: rgba(0, 54, 144, 0.75);
    --bg-trans-blue-dark: rgba(1, 0, 54, 0.9);
    --bg-trans-black: rgba(0, 0, 0, 0.5);
    --bg-trans-black-light: rgba(0, 0, 0, 0.25);
    --highlight-color:rgba(0,0,0,0.1);

    /* SIZES*/
    --border-width-default: 1px;

    /* NAV */
    --nav-foreground-color:black;
    --nav-background-color:white;
    --nav-border-color: #DFE0DF;
    --nav-border-width:1px;
    --nav-left-left-background-color:#231E2E;
    --nav-left-right-background-color:rgb(103, 103, 104);
    --nav-left-menu-item-color:rgb(199, 197, 197);
    --nav-left-selected-menu-item-color:white;

    --top-navigation-height:60px;
    --left-navigation-min-width:60px;
    --left-navigation-max-width:270px;
    --right-navigation-min-width:60px;
    --right-navigation-max-width:240px;

    /* shadow */
    --drop-shadow-large: 0px 0px 20px -5px rgba(0, 0, 0, 0.6);
    --drop-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
}
:root.light {
    --left-navigation-min-width:160px;
}
:root.dark {
    --nav-background-color:#1c2938;
    --nav-border-color:#070a0e;
    --nav-border-width:2px;
    --nav-left-right-background-color: #1c2938;
    --border-width-default: 2px;
    --border-color-default: gray;
    --body-background: #10171e;
    --main-content-background: #1c2938;
    --main-content-border: #404040;

    --default-color: rgb(221,221,221);
    --title-color:rgb(210, 210, 210);
    --primary-text-color: #DFDFDF;
    --secondary-text-color: #A2A2A2;
    --link-color: #C5C5C5;

    --button-color: #FFFFFF;
    --button-background-color: #4c555d;
    --button-border-color: rgb(108, 117, 125);
    --button-hover-background-color: #6c757d;

}