@import "Config";
::-webkit-scrollbar { width: 5px;  height: 5px;}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #888;background:var(--blue, #888); border-radius:50vw;}
::-webkit-scrollbar-thumb:hover {background: #555;background:var(--blue, #555);}
/* Bootstrap override */
.modal-backdrop.show {
    opacity: 0.85;
}
.dropdown-toggle:after
{
    display: none;
}
.dropdown-menu
{
    padding: 0;
}
/* Bootstrap override end*/
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.flex-truncate-container
{
  min-width: 0;
}
.vertical-scroll{overflow-y: auto;
    -webkit-overflow-scrolling: touch;}
.horizontal-scroll{overflow-x: auto;
    -webkit-overflow-scrolling: touch; white-space: nowrap;}
.full-height{flex-grow: 1; display: flex; flex-direction: column;height: 100%;}
.modal-dialog.full-height{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: calc(100% - 1rem);
}
.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200000;
    max-width: 100%;
    padding: 0;
    display: flex;
}
.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.margin-x-xs { margin: .25em 0; }
.margin-x-sm { margin: .5em 0; }
.margin-x-md { margin: 1em 0; }
.margin-x-lg { margin: 1.5em 0; }
.margin-x-xl { margin: 3em 0; }

.margin-y-xs { margin: 0 .25em; }
.margin-y-sm { margin: 0 .5em; }
.margin-y-md { margin: 0 1em; }
.margin-y-lg { margin: 0 1.5em; }
.margin-y-xl { margin: 0 3em; }

.margin-top-xs { margin-top: .25em; }
.margin-top-sm { margin-top: .5em; }
.margin-top-md { margin-top: 1em; }
.margin-top-lg { margin-top: 1.5em; }
.margin-top-xl { margin-top: 3em; }

.margin-right-xs { margin-right: .25em; }
.margin-right-sm { margin-right: .5em; }
.margin-right-md { margin-right: 1em; }
.margin-right-lg { margin-right: 1.5em; }
.margin-right-xl { margin-right: 3em; }

.margin-bottom-xs { margin-bottom: .25em; }
.margin-bottom-sm { margin-bottom: .5em; }
.margin-bottom-md { margin-bottom: 1em; }
.margin-bottom-lg { margin-bottom: 1.5em; }
.margin-bottom-xl { margin-bottom: 3em; }

.margin-left-xs { margin-left: .25em; }
.margin-left-sm { margin-left: .5em; }
.margin-left-md { margin-left: 1em; }
.margin-left-lg { margin-left: 1.5em; }
.margin-left-xl { margin-left: 3em; }
li{list-style-type: none;}
ul,li{margin:0; padding: 0;}
body
{
    @include var(background-color, body-background);
}
.transition
{
    position : relative;
    -webkit-transition : 300ms ease-in-out all;
     -o-transition : 300ms ease-in-out all;
    -moz-transition : 300ms ease-in-out all;
    transition : 300ms ease-in-out all;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    backface-visibility : hidden;
}
.link-text, a, .text.link
{
    @include var(color, link-color);
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}
.link-text:hover, a:hover, .text.link:hover
{
    @include var(color, link-color);
}
.primary-text
{
    @include var(color, primary-text-color);
}
.secondary-text
{
    @include var(color, secondary-text-color);
}
.drop-shadow-large
{
    box-shadow:map-get($root, drop-shadow-large);
}
.drop-shadow
{
    box-shadow:map-get($root, drop-shadow);
}
#main-content
{
    #navigation-content
    {
        #left-navigation
        {
            transition: transform 0.3s ease-in-out all;
            z-index: 1062;
            position: fixed;
            @include var(top, top-navigation-height);
            margin-top:-#{map-get($root, nav-border-width)};
            margin-top: calc(-1 * var(--nav-border-width, #{map-get($root, nav-border-width)}));
            left: 0;
            bottom: 0;
            @include var(width, left-navigation-min-width);
            overflow-x: hidden;
        }
        #top-navigation
        {
            z-index: 1061;
            @include var(height, top-navigation-height);
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
        }
        #right-navigation
        {
            padding: 0;
            @include var(width, right-navigation-min-width);
            z-index: 999;
            position: fixed !important;
            @include var(top, top-navigation-height);
            right: 0;
            bottom: 0;
        }
        #right-navigation.open
        {
            @include var(width, right-navigation-max-width);
        }

    }
    #content-block
    {
        @include var(margin-left, left-navigation-min-width);
        @include var(margin-top, top-navigation-height);
        @include var(margin-right, right-navigation-min-width);
        padding: 5px;
        > .container
        {
            > .row
            {
                > *
                {
                    padding: 0;
                }
            }
        }
    }
}
body.left-menu-open
{
    #main-content
    {
        #content-block
        {
            @include var(margin-left, left-navigation-max-width);
        }
        #navigation-content
        {
            #left-navigation
            {
                @include var(width, left-navigation-max-width);
            }
        }

    }
}
body[class^="full-page-"], body[class*=" full-page-"]
{
    #main-content
    {
        #content-block
        {
            height:calc(100vh - #{map-get($root, top-navigation-height)});
            height: calc(100vh - var(--top-navigation-height, #{map-get($root, top-navigation-height)}));
            @supports (-webkit-overflow-scrolling: touch) {
                @media all and (orientation:portrait) {
                    height:calc(100vh - #{map-get($root, top-navigation-height)} - 80px);
                    height: calc(100vh - var(--top-navigation-height, #{map-get($root, top-navigation-height)}) - 80px);
                  }
            }
            > .container, > .container>div
            {
                height: 100%;
            }
        }
    }
}
.profile-popover
{
    left:-50px !important;
    .arrow
    {
        right: calc((0.5rem + 1px) * -1);
        width: 0.5rem;
        height: 1rem;
        margin: 0.3rem 0;
    }
}