@import "../../Config";
.circular-spinner {
    animation: spin 2s linear infinite;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    @include var(border-color, primary-theme-color);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}