@import "../../Config";
.content-gallery
{
    margin: 0px;
    position: relative;
    height: auto !important;
    .img-responsive
    {
        object-fit: contain;
        width: 100%;
        max-width: initial;
        max-height: 100%;
    }
    .gallery-container
    {
        margin:3px auto;
    }
    .gallery-list{
        position: relative;
    }
    .gallery-item
    {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        .file-type{
            position: absolute;
            top:5px;
            right:5px;
            font-size: 18px;
            background: white;
            border-radius: 6px;
            padding: 3px;
            line-height: 1em;
        }
        .overflow
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display:flex;
            background: #2020209a;
            color:white;
            font-size: 28px;
            justify-content: center;
            align-items: center;
        }
        .poster-container
        {
            display: flex;
            justify-content: center;
            align-content: center;
            > img
            {
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
            }
            > .play-button
            {
                z-index: 2;
                color: white;
                font-size: 30px;
                padding: 12px 20px;
                border-radius: 8px;
                background: rgba(0, 0, 0, 0.445);
                line-height: 1em;
            }
        }
        > .file-icon
        {
            font-size: 30px;
        }
    }
    .gallery-item:first-child
    {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        overflow: hidden;
    }
    .gallery-item:last-child
    {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
    }
    .gallery-item:not(.gallery-image-item)
    {
        align-items: center;
    }
    .gallery-item:hover
    {
        .poster-container
        {
            > .play-button{
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }
    .document-preview-footer{
        border-top-style: solid;
        border-width: 1px;
        border-color: #d8d6d681;
        background: rgba(255, 255, 255, 0.582);
        flex-grow: 0;
        flex-shrink: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        h4{
            font-size: 14px;
        }
    }
}

.content-gallery
{
    .grid-columns-1
    {
        .grid-column
        {
            flex-basis: 100%;
        }
    }

}
.content-gallery-lightbox
{
    max-width: initial;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .toolbar
    {
        color:white;
    }
    .carousel
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .carousel-caption {
            background: rgba(0, 0, 0, 0.35);
            right: 0;
            left: 0;
            bottom: 0;
        }
        .carousel-control-next,
        .carousel-control-prev
        {
            @include var(color, primary-theme-color);
        }
        .carousel-control-next > span::after,
        .carousel-control-prev > span::after
        {
            content: "";
            display: block;
            width: 50px;
            background-color: #e1e1e1;
            height: 50px;
            z-index: -1;
            position: absolute;
            border-radius: 50%;
            margin-left: -15px;
            margin-top: -15px;
        }
        .carousel-inner
        {
            height: 100%;
            .carousel-item
            {
                height: 100%;
            }
        }
    }
    .modal-content
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        border:0;
        .modal-body
        {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            flex:initial;
            padding:0;
        }
    }
}
.fade-scale .carousel-item.active > .gallery-item
{
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
.show.fade-scale .carousel-item.active > .gallery-item
{
    opacity: 1;
    transform: scale(1);
}
.slider-wrapper
{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .img-responsive
    {
        max-height: 100%;
        margin: auto;
        max-width: 100%;
    }
    .gallery-item
    {
        position: absolute;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        height: 100%;
        width: 100%;
    }
    .gallery-item-link
    {
        .embedly
        {
            margin: auto;
            max-width: 70%;
        }
    }
}
.gallery-item-full-container
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    .gallery-item, .gallery-container, .video-player, .video-player > div, .video-player > div > div{
        display: flex;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-container
    {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        flex-direction: column;
        align-items: center;
        > * {
            max-height: 100%;
            height: auto;
        }
    }
    .gallery-file-item{
        .file-type{
            font-size: 18px;
            background: white;
            border-radius: 6px;
            padding: 3px;
            line-height: 1em;
        }
        .img-responsive
        {
            object-fit: contain;
            width: 100%;
            max-width: initial;
            max-height: 100%;
        }
    }
}
.swiper-container
{
    height: 100%;
    height: 210px;
    .gallery-item{
        overflow: hidden;
    }
    .swiper-wrapper{
        margin: 3px 0;
        position: absolute;
    }
}