.cover-image
{
    width: 100%;
    > .img 
    {
        z-index: -2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        max-width: 100%;
    }
    position: absolute;
    top: 0;
    bottom: -0px;
    .shadow-overlay{
        right: 0;
        background: linear-gradient(rgba(0,0,0,0) 51%, rgba(0,0,0, .53));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}