@import "../../Config";
.generic-list-item{
    min-width: 0;
    .left{
        margin-left: 0.25rem;
        margin-right: 0.35rem;
    }
    .right{
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    .center{
        display: flex;
        flex-direction: column;
        min-width: 0;
        flex-grow: 1;
        justify-content: center;
        .header{
            font-weight: 500;
        }
        .footer{
            font-size: 0.7rem;
        }
    }
    &.active, &:hover
    {
       @include var(background-color, main-content-secondary-background);
    }
}