@import "../../Config";
.list
{    width: 100%;
    .list-header{
        font-size: 1em;
        text-transform: uppercase;
        padding: 6px 0;
        margin-top: 16px;
    }
    .list-item{
        font-size: 1.2em;
        padding: 6px 0;
        align-items: center;
        border:0;
        @include var(border-color, border-color-default);
        border-bottom-width: 1px;
        border-style: solid;
        &.has-action:hover{
            @include var(background-color, main-content-secondary-background);
            cursor: pointer;
        }
        &:last-child{
            border-bottom-width: 0;
        }
    }
}