.avatar-stacked{
    margin:8px;
    margin-bottom:16px;
    display:flex;
    flex-direction:row-reverse;
}
.avatar-stacked > a{
    margin-left: -16px;
    &:last-child{
        margin-left: 0;
    }
}
