.module-footer .details-members .avatar-stacked{
    margin:8px;
    margin-bottom:16px;
    display:flex;
    flex-direction:row-reverse;
}
.module-footer .details-members .avatar-stacked .avatar{
    width:32px;
}
