.avatar-stacked{
    margin:8px;
    margin-bottom:16px;
    display:flex;
    flex-direction:row-reverse;
    .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.85rem;
        color: black;
    }
}
.avatar-stacked > a{
    margin-left: -16px;
    &:last-child{
        margin-left: 0;
    }
}
