@import "../../Config";
#user-status-selector a
{
    cursor: pointer;
    @include var(color, title-color);
    .user-state-indicator{
        display: inline-block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border:2px solid white;
    }
}