$cell-height:40px;
$cell-background-color:#302B40;
@import "../../../main/Config";

.community-tree-item
{
    @include var(color, nav-left-right-background-color);
    a{
        display: block;
        @include var(text-color, primary-text-color);

    }
    .chevron
    {
        @include var(color, default-color);
        padding:0 8px;
        line-height: $cell-height;
    }
    .content{
        margin:0 5px;
        min-height:$cell-height;
        padding-left:8px;
        cursor: pointer;
        align-items: center;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: $cell-height;
        @include var(color, primary-text-color);
        //@include var(background, button-background-color);
    }
    > .content
    {
        margin:5px;
        background:$cell-background-color;
        border-radius: 4px;
        @include var(color, nav-left-right-background-color);
    }
    .community-name
    {
        @include var(color, button-color);
        display: block;
        flex-grow: 1;
    }
    .name {
        @include var(color, primary-text-color);
        display: block;
        flex-grow: 1;
    }
    .avatar
    {
        flex-shrink: 0;
        margin-right: 10px;
    }
    .community-tree-item-list
    {
        .chevron {
            @include var(color, editor-button);
        }
        .text-truncate .content {
            margin-left:16px;
        }
        .btn-secondary {
            margin-left:40px;
            @include var(background-color, button-background-color);
            @include var(color, button-color);
            @include var(border-color, button-border-color);
        }
        .btn-secondary:hover {
            @include var(background-color, button-hover-background-color); }

        .btn-secondary:disabled {
            @include var(background-color, button-disabled-background-color);
            @include var(color, button-disabled-text-color); }
    }

}
body.left-menu-open
{
    .community-name
    {
        display: block;
    }
}