@import "./../../Config";

$bgcolorstop1: rgba(46, 103, 217, 0.8);
$bgcolorstop2: rgba(114, 213, 114, 0.8);

#application-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .triangles-bg,.gradient-bg{
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
    }
    .triangles-bg{
        background-image: url("../../assets/triangles-grey.jpg");
        background-size: cover;
    }
    .gradient-bg{
        background-image: linear-gradient(to right, $bgcolorstop1, $bgcolorstop2);
    }
    .logo{
        max-width: 300px;
        width: 300px;
        margin-bottom: 20px;
        .background{
            fill:white;
        }
        .foreground{
            @include var(fill, primary-theme-color);
        }
    }
    .splash-content{
        color:white;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        justify-content: center;
    }
}