@import "../../Config.scss";

$margin:5px;
.activity-list-item{
    padding: 8px;
    text-decoration: none;
    display: block;
    width: 100%;
    &:hover{
        text-decoration: none;
    }
    &.unseen{
        .activity-content{
            @include var(background-color, main-content-secondary-background);
        }
    }
    &.unread{
        font-weight: 700;
    }
    .activity-content{
        max-height: 4.1rem;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        align-items: center;
        font-size: 0.9rem;

        .avatar{
            justify-content: center;
            margin: $margin;
            flex: 0;
        }
        .activity-text{
            flex-shrink: 1;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: unset;
            word-break: break-word;
            max-height: 3rem;
        }
        .date{
            font-weight: 400;
        }
    }
}