@import "../../Config";
#top-navigation{
    height: $topMenuHeight;
    #user-menu{
        height: 100%;
        align-items: center;
        .trigger{
            height: 100%;
            cursor: pointer;
            .user-status-indicator{
                bottom: -2px;
                right: -2px;
            }
        }
    }
    .logo{
        @include var(fill, primary-theme-color);
    }
    .top-navigation-content{
        z-index: 1050;
        width:100%;
        position:fixed;
        top:0px;
        height: $topMenuHeight;
    }
}