@import "../../Config";
#top-navigation{
    height: $topMenuHeight;
    #user-menu{
        height: 100%;
        align-items: center;
        .trigger{
            height: 100%;
            cursor: pointer;
            .user-status-indicator{
                bottom: -2px;
                right: -2px;
            }
        }
    }
    .logo{
        fill: #428bca;
        height: 50px;
    }
    .top-navigation-content{
        z-index: 1050;
        width:100%;
        position:fixed;
        top:0px;
        height: $topMenuHeight;
        .fa {
            margin-right: 6px;
        }
        .navigation-back {
            cursor: pointer;
        }
        .breadcrumb-navigation {
            flex:1;
            margin-right: auto;
        }
        .profile-shortcuts {
            flex:1;
            margin-left: auto;
            display: flex;
            justify-content: flex-end;
        }
    }
    @media (max-width: 640px){
        .menu-toggle{
            display: block !important;
        }
    }
}
.search-modal{
    margin-left: auto;
    max-width: 90%;
    margin-right: auto;
    .modal-title{
        width:100%;
        overflow: auto;
        overflow-y: hidden;
    }
}