@import "../../../Config";
.date-time-picker{
    .r-calendar, .r-time{
        min-width: 250px;
        .toolbar{
            margin: 13px 0;
            line-height:30px;
            color:#1385e5;
            text-align:center;
            margin-bottom:13px;
            button{
                background: none;
                color:#1385e5;
                border:0;
            }
            .current-date{
                text-decoration: none;
                border-bottom: 0;
            }
        }

    }
}
.date-time-picker-input{
    .input-group{
        @include var(background-color, main-content-secondary-background);
        border-radius: 0.25rem;
        input, .input-group-append > button{
            background: transparent;
            border:0;
            @include var(color, primary-text-color);
        }
    }
}