@import "../../Config";

#dev-tool
{
    @include var(color, primary-text-color);

    .dropdown-toggle
    {
        max-width: 100%;
    }
    .jumbotron {
        @include var(background-color, main-content-background);
    }
    .btn {
        @include var(background-color, button-background-color);
        @include var(color, button-color);
        @include var(border-color, button-border-color);
    }
    .btn:hover {
        @include var(background-color, button-hover-background-color); }

    .btn:disabled {
        @include var(background-color, button-disabled-background-color);
        @include var(color, button-disabled-text-color); }
    .explain{
        font-size: 0.6rem;
    }
}
.dev-tool-infoBox{
    max-height: 120px;
    overflow-y: auto;
}
.dev-tool-infoBox-container{
    z-index: 10000;
}
.modal #dev-tool{
    min-width: initial;
}